.imgProfile{
    border-radius: 30px;
    border: 1px solid #ddd;
    height: 10rem;
}

.connectFB{
    font-family: monospace;
    font-size: small;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}